#
# Responsive Apache Directory Listing
#
# @copyright Copyright (c) 2014 Finn Rudolph (http://finnrudolph.de)
# @license   http://creativecommons.org/licenses/by-nc/3.0/ CC BY-NC 3.0
# @author    Finn Rudolph <finn.rudolph@gmail.com>
#

# This overrides the core.autocrlf setting - http://git-scm.com/docs/gitattributes
# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.css text eol=lf
*.js text eol=lf
*.csv text eol=lf
*.php text eol=lf
*.phtml text eol=lf
*.md text eol=lf
*.htaccess text eol=lf
*.gitattributes text eol=lf
