#
# Responsive Apache Directory Listing
#
# @copyright Copyright (c) 2014 Finn Rudolph (http://finnrudolph.de)
# @license   http://creativecommons.org/licenses/by-nc/3.0/ CC BY-NC 3.0
# @author    Finn Rudolph <finn.rudolph@gmail.com>
#

<IfModule mod_env.c>
    
    #
    # Root Path
    #
    # Store the root path globaly in an environment variable that can also be used by PHP.
    # 
    # If you want to access the Apache directory listing at:
    #
    #     http://domain.com/fancy/directory/listing/ 
    #
    # Set the ROOT_PATH variable to:
    #
    #     /fancy/directory/listing
    #
    SetEnv ROOT_PATH /path/on/the/apache/webserver/to/this/file

</IfModule>

# Enable the directory listing
Options +Indexes

<IfModule mod_mime.c>

    # Add Proper MIME-Type for Favicon
    AddType image/x-icon .ico
    
    # Add phtml handler
    AddType text/html .phtml
    Addhandler application/x-httpd-php .phtml
    
</IfModule>

# Enable long browser caching for resource files.
<FilesMatch "\.(ico|png|jpe?g|gif|svg|js|css)$">

	<IfModule mod_expires.c>

		# Set a far future expiration date.
		ExpiresActive on
		ExpiresDefault "access plus 1 month"

	</IfModule>
	
	# Remove Entity Tags.
	FileETag none
	
</FilesMatch>

# Settings for mod_deflate.
<IfModule mod_deflate.c>

	# Set compression by type.
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE image/svg+xml
	
	# Compress webfonts.
	<FilesMatch "\.(ttf|otf|woff|eot|svg|svgz)$" >
		SetOutputFilter DEFLATE
	</FilesMatch>

	# Deactivate compression for buggy browsers.
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4.0[678] no-gzip
	BrowserMatch bMSIE !no-gzip !gzip-only-text/html
 
	# Set header information for proxies.
	Header append Vary User-Agent

</IfModule>

<IfModule mod_headers.c>
	
	# Force the Internet Explorer to use its latest engine.
	Header add X-UA-Compatible "IE=edge"
	
</IfModule>

<IfModule mod_autoindex.c>

    # Set the index options.
    IndexOptions Charset=UTF-8
    IndexOptions XHTML
    IndexOptions HTMLTable
    IndexOptions FancyIndexing
    IndexOptions IgnoreCase
    IndexOptions FoldersFirst
    IndexOptions SuppressRules
    IndexOptions SuppressHTMLPreamble
    IndexOptions NameWidth=*
    IndexOptions DescriptionWidth=*
    IndexOptions IconHeight=32
    IndexOptions IconHeight=28

    #
    # Configuration
    # 
    # Make sure the environment variable "ROOT_PATH" is set to the correct path 
    # on your Apache webserver. Then open the public/configuration_helper.php
    # in your browser to generate a valid configuration.
    #
    # Paste the content of the ".htaccess" textarea below this comment.
    #

    
    
</IfModule>
